#container3d {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

#container3d canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

body {
  overflow-x: visible;
  /* Prevent horizontal scroll on body */
}

.container-product {
  background-color: black;
  width: 400vw;
  /* 4 panels * 100vw each */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
}

.container-feature {
  background-color: black;
  width: 400vw;
  /* 4 panels * 100vw each */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  background-color: black;
}

.panel-feature {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  background-color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

body {
  background-color: white;
}